/*
**  define styling for button or link elements components with specified with classe btn.
*/
.btn{

    &,
    &:link,
    &:visited{
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem ;
        // border-radius: 10rem;
        transition: all 0.2s;
        font-size: 1.8rem;

        /*as we will define ::before for it and will has an absolute position to this relative*/
        position: relative;

        /* change default of button element*/
        border: none ;
        cursor: pointer;
    }

    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::before{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus  /* to change default for button*/
    {
        outline: none;  /* to change default for button*/
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &::before{
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: -1;

        transition: all 0.4s;
    }
    

    &--primary{
        background-color: $color-primary;
        color: $color-white;

        &::before{
            background-color: $color-primary;
        }
    }

}
