/*
**  define the style for the primary heading in the page  =>heading-primary{
*/
.heading-primary{
    font-family: cairo , sans-serif;
    font-size: 5rem;
    font-weight: bold;
    font-style: normal;
    line-height: 1.34;
    color: #191414;


    &::after{
        content: "";
        display: block;
        width: 24.6rem;
        height: 2.4rem;
        margin: 1.8rem auto;
        background-image: url("../img/html_images/title.png");
        background-size: 100% 100% ;
    }

}
